[access]
	inheritFrom = Public-Plugins
[access "refs/*"]
	owner = group plugins-github
[project]
	description = GitHub-Profile integration for migrating and synchronising your GitHub e-mail address and SSH Keys with Gerrit
[access "refs/for/heads/contribute"]
	exclusiveGroupPermissions = create createSignedTag
	createSignedTag = group Registered Users
